<!DOCTYPE html>
<html>
<head>
<title>Study Manager App</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="app">

<div class="sidebar">
<h2>📚 Study App</h2>
<ul>
<li onclick="showSection('home')">Home</li>
<li onclick="openRecycle()">Recycle Bin</li>
</ul>
</div>

<div class="main">

<div id="home" class="section">
<h1>Select Category</h1>
<div class="card" onclick="openCategory('CA')">CA</div>
<div class="card" onclick="openCategory('Midterm')">Midterm</div>
<div class="card" onclick="openCategory('Endterm')">End Term</div>
<div class="card" onclick="openCategory('Practical')">Practical</div>
</div>

</div>
</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>